<% include ../partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Muye's Gallery!</h1>
             <p>View all artworks from Muye</p>
             <p>
                <a class="btn btn-primary btn-large" href="/artworks/new">Add New Artwork</a>
             </p>
         </div>
     </header>
</div>

<% include ../partials/footer %>
