<% include ../partials/header %>
 	
    <div class="container">
        <header class="jumbotron">
             <div class="container">
                 <h1>Welcome To Muye's Gallery!</h1>
                 <p>View all artworks from Muye</p>
                 <p>
                    <a class="btn btn-primary btn-large" href="/artworks/new">Add New Artwork</a>
                 </p>
             </div>
         </header>


        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% artworks.forEach(function(artwork){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                       <img src="<%= artwork.image %>">
                       <div class="caption">
                           <h4><%= artwork.name %></h4>
                       </div>
                       <p>
                            <a href="/artworks/<%= artwork._id %>" class="btn btn-primary">More Info</a>
                       </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer %>
